* {
    background-color: #101010;
    text-transform: lowercase;
    color: #39ff14;
    font-family: "Courier New", Courier, monospace;
    font: 0.9rem "Courier New", Courier, monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full height of the viewport */
}

main {
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-size: inherit;
    font-weight: inherit;
    /* Remove bold from all elements */

}

h2 {
    font-size: inherit;
    font-weight: inherit;
    /* Remove bold from all elements */
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
}

a:hover {
    color: white;

}