---
import Main from "../layouts/Main.astro";
import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → about`}>
    <h3>cosa è fhack it</h3>
    <p>
        tbd 
    </p>

</Main>

<style>
    h3 {
        font-size: inherit;
        font-weight: inherit;
        margin-bottom: 0.1em;
    }
    h3::before {
        content: ":";
    }
    h3 + p {
        margin-top: 0em;
        padding-left: 0.5em;
    }
</style>
