---
import Main from "../layouts/Main.astro";
import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → about`}>
    <div>zero</div>
</Main>

<style>
    div {
        padding: 1em;
        margin: 1em;
        border: 0.1em solid #39ff14;
        text-align: left;
        border-color: #228B22;
    }
</style>
