---
import Main from "../layouts/Main.astro";
---

<Main>
    <header>
        <h1>fhack it</h1>
        <h2>home</h2>
    </header>
    
    <section>

    </section>

    <footer>&copy; 2025 fhack it</footer>
</Main>

<style>

    
</style>