<div>
    <slot />
</div>

<style>
    div {
        /* border: 0.01em solid #39ff14; */
        border: 0.01em solid #37ff142a;
        border-width: 0.01em 0.01em 0.01em 0.01em;
        margin: 1em;
        padding: 0.5em;
        text-align: left;
    }
</style>
