---
type Props = {
    delay: string;
};
const { delay } = Astro.props;
---

<div class="loading-box">
    Loading ...
</div>

<style>
    .loading-box {
        border: 0.1em solid green;
        padding: 1em;
        text-align: center;
    }
</style>
