---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="notes on artificial life" />
        <title>fhack it - notes on artificial life</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>


